<div class='main-body'>
    <div class="container">
        <div class="big-logo"></div>
        <div class="form-container">
            <h1>Medicare<font color="#55CCFF">Place</font></h1>
            <p>The Easiest, and Fastest way to compare Medicare Rates.</p>
            <form>
                <input class="zip-box" type="text" placeholder="Enter ZipCode.." />
                <button class="zip-submit" type="submit">Submit</button>
                <div class="radio-box">
                    <div class="first">
                        <input class="radio" type="radio" name="64 and younger" value="64" checked>64 and Younger<br />
                        <input class="radio" type="radio" name="64 and younger" value="65">65 and Older</div>
                </div>
            </form>
        </div>
    </div>
</div>