<div class="span4">
    <h3>
        Medicare Plans
    </h3>
    <ul>
        <li><a href="">Medicare Part A</a></li>
        <li><a href="">Medicare Part B</a></li>
        <li><a href="">Medicare Part C</a></li>
        <li><a href="">Medicare Part D</a></li>
        <li><a href="">Medicare Advantage</a></li>
        <li><a href="">Medigap Supplement Plans</a></li>
        <li><a href="">Prescription Drug Coverage</a></li>
    </ul>
</div>
<div class="span4">
    <h3>
        Learn About Medicare
    </h3>
    <ul>
        <li><a href="">Medicare 101</a></li>
        <li><a href="">Selecting a Plan</a></li>
        <li><a href="">Medicare While Traveling</a></li>
        <li><a href="">Eligibility Requirements</a></li>
        <li><a href="">Medicare Donut Hole</a></li>
        <li><a href="">Glossary of Medicare Terms</a></li>
        <li><a href="">Medicare FAQ's</a></li>
    </ul>
</div>
<div class="span4">
    <h3>
        Medicare Providers
    </h3>
    <ul>
        <li><a href="">Anthem Medicare</a></li>
        <li><a href="">ConnectiCare Medicare</a></li>
        <li><a href="">HealthSpring Medicare</a></li>
        <li><a href="">Humana Medicare</a></li>
        <li><a href="">Mutual Of Omaha Medicare</a></li>
        <li><a href="">Medigap Supplement Plans</a></li>
        <li><a href="">UnitedHealthcare</a></li>
        <li><a href="">More Medicare Carriers</a></li>
    </ul>
</div>