/* 
    Document   : step3css
    Created on : Jun 10, 2013, 10:50:06 AM
    Author     : Robert Roth
    Description:
        main style for the GITS MedicarePlace step 3 or plan selection stage.
*/

.white-panel{
    background: #FFFFFF;
    color: #0099ff;
    padding: 0px 20px 15px 20px;
    border: solid 1px #99ccff;
    border-radius: 10px;
    margin: 10px 5px;
}